@page "/contact"

<div class="container">

    <div class="row">
        <div class="col-md-9 mx-auto">
            <div class="card card-register">
                <div class="card-body">
                    <h5 class="card-title text-center">Contact Us</h5>
                    <div class="contact form-label-group">
                        <div class="col ">
                            <div class="row">
                                <div class=" contact-img">
                                    <img src="../css/Horsens.jpg" alt="Horsens" class="btn-block" />
                                </div>
                                <div class="row">
                                    <div class="col contact-info">
                                        <h5>Horsens</h5>
                                        <a href="mailto:horsens@selectric.dk">horsens@selectric.dk</a>
                                        <p><strong>Phone: </strong> +45 548292 </p>
                                        <p><strong>Address: </strong> 8700 Horsens, Sundvej 7 </p>
                                    </div>
                                    <div class="col contact-info">
                                        <p><strong>Opening hours</strong></p>
                                        <p>Monday - Thursday 10 - 17.30</p>
                                        <p>Friday 10 - 17.30</p>
                                        <p>Saturday  10 - 14</p>
                                        <p>Sunday and hollidays closed</p>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="row">
                                <div class=" contact-img">
                                    <img src="../css/Aalborg.jpg" alt="Aalborg" />
                                </div>
                                <div class="row">

                                    <div class="col contact-info">
                                        <h5>Aalborg</h5>
                                        <a href="mailto:aalborg@selectric.dk">aalborg@selectric.dk</a>
                                        <p><strong>Phone: </strong>+45 947581 </p>
                                        <p><strong>Address: </strong> 9000 Aalborg, Jyllandsgade 26 </p>
                                    </div>
                                    <div class="col contact-info">
                                        <p><strong>Opening hours</strong></p>
                                        <p>Monday - Thursday 10 - 17.30</p>
                                        <p>Friday 10 - 17.30</p>
                                        <p>Saturday  10 - 14</p>
                                        <p>Sunday and hollidays closed</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="row">
                                <div class=" contact-img">

                                    <img src="../css/frederiksborg.jpg" alt="Frederiksberg" />
                                </div>
                                <div class="row">
                                    <div class="col contact-info">
                                        <h5>Frederiksberg</h5>
                                        <a href="mailto:frederiksberg@selectric.dk">frederiksberg@selectric.dk</a>
                                        <p><strong>Phone: </strong>+45 738562 </p>
                                        <p><strong>Address: </strong> 2000 Frederiksberg, Smallegade 20 </p>
                                    </div>
                                    <div class="col contact-info">
                                        <p><strong>Opening hours</strong></p>
                                        <p>Monday - Thursday 10 - 17.30</p>
                                        <p>Friday 10 - 17.30</p>
                                        <p>Saturday  10 - 14</p>
                                        <p>Sunday and hollidays closed</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <footer>
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright Group3
        </div>

    </footer>
</div>

@code {

}
