@page "/"

<section id="homePage">
    <div class="hero-container">
        <div id="homePageCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background: url(../css/pic-1.jpg); ">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2><span>Wellcome</span> To <span>SELLECTRIC</span></h2>
                            <p>Det vil vi gøre, ved at være den ledende, mest fleksible og mest effektive og bæredygtige udbyder af elektroniske produkter og services, der leverer varerne med værdi for pengene.
                            Vi tror på, at vores vision lykkes, hvis vi lytter til vores kunder og til hinanden, og hvis vi hjælper,
                            rådgiver og yder den bedste indsats. Vi vil ikke bare sælge dig det, vi tror du ønsker. Vi vil hjælpe dig med at give dig det, du vil have og drømmer om.</p>
                            <div>
                                <a href="products" class="btn btn-outline-warning">See Our Products</a>
                                <a href="contact" class="btn btn-outline-warning">Contact US</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background: url(../css/pic-2.jpg);">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2><span>Sign Up</span></h2>
                            <p>Vi driver vores forretning effektivt, samtidig med at vi giver vores kunder de bedst mulige løsninger nemt og bekvemt. Når vi er effektive og omkostningsbevidste, kan vi tilbyde det største sortiment af produkter og tjenester til lave priser, uden nogensinde at gå på kompromis med kundeoplevelsen.</p>
                            <div>
                                <a href="register" class="btn btn-outline-warning">Sign UP</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#homePageCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#homePageCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section>