@page "/register"

@using CustomerClient.Data;
@using CustomerClient.Models;
@inject IUserService UsersService
@inject NavigationManager NavigationManager

<EditForm Model="@newUser" OnValidSubmit="@AddNewUser">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container">

        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="card card-register">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign up</h5>
                        <form class="form-register">

                            <div class="form-label-group">

                                <label><i class="material-icons"> email </i> Email: </label>
                                <InputText class="form-control" @bind-Value="newUser.Email" placeholder="Email" required />

                                <label><i class="material-icons"> account_box </i> Name:</label>
                                <InputText class="form-control" @bind-Value="newUser.Name" placeholder="Name" required />

                                <label><i class="material-icons"> home </i> Address:</label>
                                <InputText class="form-control" @bind-Value="newUser.Address" placeholder="Address" required />

                                <div class="row">
                                    <div class="col-md-6 ">
                                        <label><i class="material-icons"> perm_phone_msg </i> Phone Number:</label>
                                        <InputText class="form-control" @bind-Value="newUser.Phone" placeholder="Phone Number" required />
                                    </div>
                                    <div class="col-md-6">
                                        <label><i class="material-icons"> calendar_today </i> Date Of Birth:</label> <br />
                                        <InputDate type="date" @bind-Value="@_endDate" rows="1" />
                                    </div>
                                </div>
                               

                               
                            </div>

                            <div class="row form-label-group">
                                <div class="col-md-6">
                                    <label><i class="material-icons"> lock </i> Password:</label>
                                    <InputText class="form-control" type="password" @bind-Value="password" placeholder="Password" required />
                                </div>
                                <div class="col-md-6">
                                    <label><i class="material-icons"> lock </i> Confirm Password:</label>
                                    <InputText class="form-control" type="password" @bind-Value="confirmPassword" placeholder="Confirm Password" required />
                                </div>
                            </div>

                        </form>
                        <div class="form-label-group">
                            <button class="btn btn-outline-success btn-block text-uppercase" type="submit" style="margin-left: .5rem;">Create</button>
                        </div>
                        <p class="text-center">Have an account? <a class="btn btn-primary" href="Login">Log in</a> </p>
                    </div>

                </div>
             
                    <footer>
                        <div class="footer-copyright text-center py-3">
                            © 2020 Copyright Group3
                        </div>

                    </footer>
                
            </div>
        </div>
    </div>
</EditForm>

@code {
    private User newUser = new User();
    private DateTime _endDate;

    private string password;
    private string confirmPassword;

    private void AddNewUser()
    {
        if (password.Equals(confirmPassword))
        {
            newUser.Password = password;
            newUser.Birthday = _endDate;

            UsersService.AddUserAsync(newUser);
            NavigationManager.NavigateTo("/login");
        }
    }
}

